<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Our Current Users</h1>
    <table>
    <tr><th>First Name</th><th>Last Name</th></tr>
    <% 
    let users = locals.users
    let i = 0;
    for(user of users){ %>
        <tr><td> <a href="/users/<%=i%>"> <%= user.firstName %></a></td> 
        <td> <%= user.lastName %></td></tr>
        <%
        i++} %>
    </table>
</body>
</html>